.currency {
	max-width: 1280px;
	padding: 40px;
}

.currency__list {
	display: grid;
	margin: 0;
	padding: 0;
	list-style: none;
}

.currency__item_background_selected {
	transition: .2s ease-out;
	cursor: pointer;
}

.currency__item_background_selected:hover {
	background-color: silver;
}
