@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src:
    url('/public/fonts/RobotoSlab-Regular.woff2') format('woff2'),
    url('/public/fonts/RobotoSlab-Regular.woff') format('woff');
}
