.currencyItem {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
	padding: 8px 0;
	border-bottom: 1px solid black;
}

.currencyItem__text {
	margin: 0;
}

.currencyItem__text_position_center {
	text-align: center;
}

.currencyItem__text_position_right {
	text-align: right;
}
